@model Sitecore.Feature.Search.Models.SearchContext

<div class="search-wrapper no-margin">
    <form action="@Model.SearchResultsUrl" role="form">
        <input type="text" id="search_text" class="search-form" autocomplete="off" placeholder="Search">
        <a href="#" class="fa fa-search"></a>
        <div id="src_result"></div>
    </form>
</div>